body {
  font-family: 'Roboto', sans-serif;
}

header {
  color: whitesmoke;
  background-color: #5a2328;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.05rem;
  margin: 0;
}

header > div {
  max-width: 575px;
  margin: 0 auto;
  padding: 0.5rem 0;
}
