body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.05rem;
}

header {
  color: whitesmoke;
  background-color: #5a2328;
}

.image-container > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border: 3px solid black;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem 0;
}

.button-container > button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 3px solid black;
  box-shadow: 3px 3px 2px black;
}

button:hover {
  cursor: pointer;
}

textarea,
input {
  width: 100%;
  border: 3px solid black;
  resize: none;
  font: inherit;
}

input {
  height: 2.5rem;
}
